# Ignore node_modules
/packages/node_modules/


# Optionally, ignore other common files or directories
.DS_Store
.env
.vscode/
.idea/

# If you have build or dist folders in frontend or backend
/frontend/dist/
/backend/build/