/** @format */

:root {
    --main-bg-color: white;
    --main-txt-color: #e3e3e3;
    --txt-size-large: 3rem;
    --txt-size-xlarge: 9rem;
}
@font-face {
    font-family: Popins;
    src: url(./font/JetBrainsMono-Regular.ttf);
}

body {
    background-color: var(--main-bg-color);
    font-family: Popins;
}

.AppWrapper {
    display: grid;
    grid-template-columns: 200px 400px 200px;
    grid-template-rows: 100px 240px 100px;
    /* This makes the nav a grid item that spans the whole first row */
    grid-template-areas:
        'nav nav nav'
        'radio radio radio'
        '. . .';
}

nav {
    /* Make the nav element a grid container */
    display: grid;
    grid-area: nav; /* Position the nav in the grid-area we defined */
    grid-template-columns: 1fr 1fr 1fr; /* Create three columns for the nav items */
}

.navbarItemClock {
    justify-self: center;
    align-self: center;
    font-size: var(--txt-size-large);
}

.navbarItemRadio {
    justify-self: center;
    align-self: center;
    font-size: var(--txt-size-large);
}

.navbarItemSettings {
    justify-self: center;
    align-self: center;
    font-size: var(--txt-size-large);
}

.clockStyle {
    grid-column: 1/2;
    color: var(--main-txt-color);
    margin: 6% 0% 0% 20%;
}

.tempStyle {
    grid-column: 3;
    grid-row: 3;
    color: var(--main-txt-color);
    font-size: small;
}

.largeClock {
    grid-column: 1/3;
    grid-row: 2;
    font-size: var(--txt-size-xlarge);
    color: var(--main-txt-color);
    margin-left: 0.3em;
}

.smallClock {
    grid-row: 3;
    grid-column: 1;
    font-size: 120px;
}

h1 {
    color: var(--main-txt-color);
}
