/** @format */

:root {
  --main-bg-color: black;
  --main-txt-color: bisque;
  --txt-size-large: 3rem;
  --txt-size-xlarge: 10rem;
}
@font-face {
  font-family: Popins;
  src: url(./font/Poppins-Regular.ttf);
}

body {
  background-color: var(--main-bg-color);
  font-family: Popins;
}

.radioWrapper{
  display: grid;
  grid-template-columns: 200px 400px 200px;
  grid-template-rows: 100px 240px 100px;
}

.navbarItem1 {
  justify-self: center;
  grid-row: 1;
  grid-column: 1;
  font-size: var(--txt-size-large);
  margin-left: 3em;
}

.navbarItem2 {
  grid-row: 1;
  grid-column: 2;
  font-size: var(--txt-size-large);
  margin-left: 2em;
}

.navbarItem3 {
  grid-row: 1;
  grid-column: 3;
  font-size: var(--txt-size-large);
  margin-left: 2em;
}


.clockStyle  {
  grid-column: 1/2;
  color: var(--main-txt-color);
  margin: 6% 0% 0% 20%;
}

.tempStyle {
  grid-column: 3;
  grid-row: 3;
  color: var(--main-txt-color);
  font-size: small;

}

.largeClock{
  grid-column: 1/3;
  grid-row: 2;
  font-size: var(--txt-size-xlarge);
}

.smallClock{
  grid-row: 3;
  grid-column: 1;
  font-size: 120px
}

.radioStyle  {
  color: var(--main-txt-color);
  width: auto;
  overflow-y:scroll;
}

.radioComponent {
    grid-row: 2;
    grid-column: 1/4;

}
.radioComponent{
  border-radius: 25px;
}

